p, h2{
    text-align: center;
}
@font-face {
    font-family: "Comfortaa";
    src: url("/fonts/Comfortaa-Bold.ttf");
}

#header-text{
    font-family: "Comfortaa";
    margin: auto;
    color: #ffad69;
}
 
#classroom-header{
    height: 200px;
    padding-top: 70px;
}

#add-post-button{
    width: 70px;
    height: 70px;
    position:fixed !important;
    bottom:40px;
    right:10px;
}

#classroom-size{
    width:100vw;
    height:100vh;

}

#classroom-cards{
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 20px;
    align-content: center;
}

#classroom-card-size{
    width: 100%;
}

#comment-segment{
    background-color: rgb(238,238,238);
}

#comment-input{
    background-color: rgb(238,238,238);
    height:35px;
    border: none;
}

