p, h2{
    text-align: center;
}
@font-face {
    font-family: "Comfortaa";
    src: url("/fonts/Comfortaa-Bold.ttf");
}

#header-text{
    font-family: "Comfortaa";
    margin: auto;
    color: #ffad69;
}
 
#classroom-header{
    height: 200px;
    padding-top: 70px;
}

#add-post-button{
    width: 70px;
    height: 70px;
    position:fixed !important;
    bottom:40px;
    right:10px;
}

#classroom-size{
    width:100vw;
    height:100vh;
}

#classroom-cards{
    /* margin-right: 30% !important; */
    padding-top: 10px;
    align-content: center;
}

#classroom-card-size{
    width: 100%;
}

#comment-segment{
    background-color: rgb(238,238,238);
}

#comment-input{
    background-color: rgb(238,238,238);
    height:35px;
    width: 70%;
    border: none;
}

#classroom-buttons{
    margin-left: 20%;
    width: 60%;
    align-content: center;
    /* background-color: PINK; */
}

#classroom-segment{
    margin-left: 20%;
    width: 60%;
    align-content: center;
    border: none;
    height:100vh;
    /* background-color: PINK; */
}