body{
  margin:0;
  background-color:#e9ebee;
}
#middle{
  height: 100%;
  width: 100%;
  padding-top: 70px;
  margin-left: 300px;
  margin-right: 300px;
  display: flex;
  flex-direction: row;
  z-index: -99;
}

#left-sidebar-labels{
  margin:5px;
  margin-top:20px;
  margin-button:10px;
  padding-left:16px;
  text-align: left;
}

#button-color{
  background-color:#e9ebee;
  /*background-color:#e988ba;*/
  width:100%;
  height: 40px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: left;
}

#card-size{
  width:100%;
}

#left-sidebar-body{
  /*background-color:pink;*/
  height: 1000px;
  width: 220px;
  /*position: fixed;*/
}

#make-post-body{
  background-color: #f6f7f9;
  width:100%;
  height:200px;
  margin-bottom: 20px;
}

.posts{
  width:100%;
  /*height:550px;*/
  margin-bottom: 20px;
  z-index: -1;
}

#right-sidebar-body{
  height: 1000px;
  width: 370px;
  z-index: -1;
  /*margin-left: 1300px;*/
  /*position: fixed;*/
}

#main-posts-body{
  margin-left: 20px;
  margin-right: 20px;
  height: 100%;
  width: 610px;
  display: flex;
  flex-direction: column;
}

#nav-body{
  padding-left: 250px;
  display: flex;
}

#nav{
  background-color:#4267b2;
  height: 50px;
  width: 100%;
  position: fixed;
}

#search-rectangle {
	width: 50px;
	height: 100px;
	background: grey;
}

#button-make{
  border-right: 1px solid;
  background-color: #f6f7f9;
}

input[type=text] {
    float: left;
    padding: 6px;
    border: none;
    margin-top: 8px;
    /*margin-left: 16px;*/
    font-size: 17px;
    width:500px;
}
